<h1>Stundenpläne</h1>

<f:if condition="{blocks}">
    <f:then>
        <f:form method="POST" action="list">

        <label for="block"></label>
        <select name="block" id="block">
            <f:for each="{blocks}" as="block">
                <f:if condition="{selectedBlock} == {block}">
                    <f:then>
                        <option value="{block}" selected>{block}</option>
                    </f:then>
                    <f:else>
                        <option value="{block}">{block}</option>
                    </f:else>
                </f:if>
            </f:for>
        </select>

        <f:if condition="{classes}">
            <label for="classes"></label>
            <select name="class" id="classes">
                <f:for each="{classes}" as="class">
                    <f:if condition="{selectedClass} == {class}">
                        <f:then>
                            <option value="{class}" selected>{class}</option>
                        </f:then>
                        <f:else>
                            <option value="{class}">{class}</option>
                        </f:else>
                    </f:if>
                </f:for>
            </select>
        </f:if>
        <button type="submit" value="">Abschicken</button>
        </f:form>

        <f:if condition="{plan}">

        </f:if>
    </f:then>
    <f:else>
        <div>keine Stundenpläne verfügbar</div>
    </f:else>
</f:if>


